@model Project.Application.DTOs.User.UserDashboardDTO
@{
    ViewData["Title"] = "Index";
    var PageSharp = "";
}
@section Scripts{
    <script src="~/admin/assets/js/CustomHelper.js?@(DateTime.Now.Ticks)"></script>
    <script>


        let time = @Model.Profile.ExpireSecondCode;

        var interval;

        $(document).ready(function () {
            countdown();
        });
        function countdown() {
            clearInterval(interval);
            interval = setInterval(function () {
                var minutes = Math.floor(time / 60);
                var seconds = time - minutes * 60;
                if (minutes < 0) return;
                else if (seconds < 0 && minutes != 0) {
                    minutes -= 1;
                    seconds = 59;
                }
                else if (seconds < 10 && length.seconds != 2) seconds = '0' + seconds;
                document.getElementById("submit-SendCode").classList.add("d-none");
                document.getElementById("js-timeout").classList.remove("d-none");
                $('.js-timeout').html(minutes + ':' + seconds);
                time = time - 1;
                if (minutes == 0 && seconds == 0) {
                    document.getElementById("submit-SendCode").classList.remove("d-none");
                    document.getElementById("js-timeout").classList.add("d-none");
                }
            }, 1000);
        }
        function SendCode() {
            let formdata = new FormData();
            $.ajax({
                type: "POST",
                url: '/customer/home/SendCode',
                data: formdata,
                contentType: false,
                processData: false,
                beforeSend: function () {
                    $("button").prop("disabled", true);
                },
                complete: function () {
                    $("button").prop("disabled", false);
                },
                success: function (data) {

                    if (data.status == 1) {
                        if (data.message != null) {
                            toastr.success("پیامک ارسال شد");

                            time = data.data;
                            console.log(time);

                            countdown();

                        } else if (data.errors != null) {

                            toastr.success(data.errors);
                        }
                    } else {
                        if (data.errors != null) {
                            toastr.error(data.errors);
                        } else if (data.message != null) {
                            toastr.error(data.message);
                        }
                    }
                },
                error: function (data) {
                    if (data.responseJSON.errors != null) {
                        toastr.error(data.responseJSON.errors);
                    } else if (data.responseJSON.message != null) {
                        toastr.error(data.responseJSON.message);
                    }
                    console.log(data.responseJSON);
                }
            });
        };



        $('#submit-form').on('click', function () {
            let form = document.getElementById('ajax-form');
            let formdata = new FormData(form);
            ajaxPostForm({
                formId: 'ajax-form',
                formData: formdata,
                form: form,
                triggertable: false,
                url: '/Customer/Home/Upsert',
                triggerForm: false
            });
        });
        $("#provinceId").change(function () {
            var url = '/Customer/Home/getProvinceCities';
            var ds = "#provinceId";
            $.getJSON(url, { provinceName: $(ds).val() }, function (data) {
                var items = '';
                $("#CityId").empty();
                $.each(data, function (i, row) {
                    items += "<option value='" + row.value + "'>" + row.text + "</option>";
                });
                $("#CityId").html(items);
            });
        });
    </script>

    <script>


        var buttonnext = $('.page-link-next');
        var currentHrefnext = buttonnext.attr('href');

        var buttonprev = $('.page-link-prev');
        var currentHrefprev = buttonprev.attr('href');

        // Add an event listener to each tab link
        $('.nav-link').on('click', function () {
            // Get the href attribute of the clicked tab link
            var tabHref = $(this).attr('href');

            // Update the browser URL without reloading the page
            history.pushState(null, null, tabHref);
            buttonnext.attr('href', currentHrefnext + tabHref);
            buttonprev.attr('href', currentHrefprev + tabHref);

        });

        // Restore the selected tab when the page is loaded
        var currentUrl = window.location.href;
        if (!currentUrl.includes('#')) {
            // If no hash is present, default to the dashboard tab
            $('#tab-dashboard-link').addClass('active');
            $('#tab-dashboard').addClass('show active');
            buttonprev.attr('href', currentHrefprev + '#tab-dashboard');
        } else {
            // If a hash is present, select the corresponding tab
            $('.nav-link').each(function () {
                var tabHref = $(this).attr('href');
                if (currentUrl.endsWith(tabHref)) {
                    $(this).addClass('active');
                    $(tabHref).addClass('show active');
                    buttonprev.attr('href', currentHrefprev + tabHref);
                }
            });
        }


    </script>

}

<!-- start content -->

<div class="content">
    <div class="container-fluid">
        <partial name="_customerMobileMenu" />
        

        <div class="panel position-relative">
            <div class="row gy-4">
                <div class="col-lg-3 d-lg-block d-none">
                    <div class="panel-nav-logo">
                        <a href="" class="text-center d-block mb-3">
                            <img src="assets/img/logo.png" alt="" class="img-fluid" width="200">
                        </a>
                    </div>
                    <div class="penel-nav">
                        <div class="panel-nav-nav">
                            <partial name="_customerMenu" />
                        </div>
                    </div>
                </div>
                <div class="col-lg-9">
                    <div class="position-sticky top-0">
                        <div class="panel-header">
                            <div class="content-box">
                                <div class="container-fluid">
                                    <div class="row gy-5 align-items-center">
                                        <div class="col-md-6 col-8">
                                            <div class="d-flex align-items-center">
                                                <h6> @Model.Profile.FirstName عزیز به پنل کاربری خوش آمدید</h6>
                                            </div>
                                        </div>
                                        <div class="col-md-3 col-4">
                                            <div class="panel-alert d-flex justify-content-end">
                                                <i class="bi bi-bell pointer"></i>
                                                <span class="count-item rounded-circle">0</span>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="d-flex align-items-center panel-profile">
                                                <img src="assets/img/user.png" class="img-fluid img-profile-panel rounded-circle me-3 shadow-md" alt="">
                                                <div class="d-grid gap-2">
                                                    <h6 class="font-14 main-color-one-color">حساب کاربری من</h6>
                                                    <div class="d-flex align-items-center">
                                                        <h6 class="font-14">
                                                            @Model.Profile.FirstName @Model.Profile.LastName
                                                        </h6>
                                                        <a href="" class="ms-2"><i class="bi bi-pencil-square"></i></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel-meta my-5">
                            <div class="row g-3">
                                <div class="col-md-3 col-sm-6">
                                    <a href="">
                                        <div class="panel-meta-item d-flex align-items-center">
                                            <div class="panel-meta-item-icon">
                                                <i class="bi bi bi-bag-check"></i>
                                            </div>
                                            <div class="panel-meta-title d-flex flex-column">
                                                <h6 class="h6">سفارشات تکمیل شده</h6>
                                                <h5 class="title-font h3">5</h5>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-md-3 col-sm-6">
                                    <a href="">
                                        <div class="panel-meta-item d-flex align-items-center">
                                            <div class="panel-meta-item-icon bg-danger">
                                                <i class="bi bi bi-heart-fill"></i>
                                            </div>
                                            <div class="panel-meta-title d-flex flex-column">
                                                <h6 class="h6">محصولات مورد علاقه</h6>
                                                <h5 class="title-font h3">25</h5>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-md-3 col-sm-6">
                                    <a href="">
                                        <div class="panel-meta-item d-flex align-items-center">
                                            <div class="panel-meta-item-icon bg-primary">
                                                <i class="bi bi bi-send"></i>
                                            </div>
                                            <div class="panel-meta-title d-flex flex-column">
                                                <h6 class="h6">نظرات</h6>
                                                <h5 class="title-font h3">13</h5>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-md-3 col-sm-6">
                                    <a href="">
                                        <div class="panel-meta-item d-flex align-items-center">
                                            <div class="panel-meta-item-icon bg-secondary">
                                                <i class="bi bi-repeat"></i>
                                            </div>
                                            <div class="panel-meta-title d-flex flex-column">
                                                <h6 class="h6">سفارشات مرجوعی</h6>
                                                <h5 class="title-font h3">3</h5>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="panel-latest-order">
                            <div class="table-responsive shadow-box roundedTable p-0">
                                <table class="table  main-table rounded-0">
                                    <thead class="text-center">
                                        <tr>
                                            <th class="title-font">#</th>
                                            <th class="title-font">شماره سفارش</th>
                                            <th class="title-font">تاریخ ثبت سفارش</th>
                                            <th class="title-font">مبلغ پرداختی</th>
                                            <th class="title-font">وضعیت سفارش</th>
                                            <th class="title-font">جزییات</th>
                                        </tr>
                                    </thead>
                                    <tbody class="text-center">
                                        <tr>
                                            <td class="font-14">1</td>
                                            <td class="font-14">2354632</td>
                                            <td class="font-14">سه شنبه 13 دی 1401</td>
                                            <td class="font-14">580,000 تومان</td>
                                            <td class="font-14"><a href="" class="title-font">سفارش مرجوع شده</a></td>
                                            <td class="font-14">
                                                <a href="" class="btn border-0 main-color-one-bg waves-effect waves-light"><i class="bi bi-chevron-left"></i></a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="font-14">2</td>
                                            <td class="font-14">2354632</td>
                                            <td class="font-14">سه شنبه 13 دی 1401</td>
                                            <td class="font-14">580,000 تومان</td>
                                            <td class="font-14"><a href="" class="title-font">سفارش لغو شده</a></td>
                                            <td class="font-14">
                                                <a href="" class="btn border-0 main-color-one-bg waves-effect waves-light"><i class="bi bi-chevron-left"></i></a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="font-14">1</td>
                                            <td class="font-14">2354632</td>
                                            <td class="font-14">سه شنبه 13 دی 1401</td>
                                            <td class="font-14">580,000 تومان</td>
                                            <td class="font-14"><a href="" class="title-font">سفارش تحویل داده شده</a></td>
                                            <td class="font-14">
                                                <a href="" class="btn border-0 main-color-one-bg waves-effect waves-light"><i class="bi bi-chevron-left"></i></a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="font-14">2</td>
                                            <td class="font-14">2354632</td>
                                            <td class="font-14">سه شنبه 13 دی 1401</td>
                                            <td class="font-14">580,000 تومان</td>
                                            <td class="font-14"><a href="" class="title-font">سفارش در انتظار پرداخت</a></td>
                                            <td class="font-14">
                                                <a href="" class="btn border-0 main-color-one-bg waves-effect waves-light"><i class="bi bi-chevron-left"></i></a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

</div>

<!-- end content -->


