@{
}

@section Scripts{

}


<!-- invoice start -->
<section class="invoice2">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="invoice-popup">
                    <div>
                        <div class="row invoice-header">
                            <div class="col-6">
                                <div class="header-invoice-right">
                                    <div class="invoice-to">
                                        <ul>
                                            <li>
                                                <h4>فاکتور به:</h4>
                                            </li>
                                            <li>
                                                <h3>پریسا افشار</h3>
                                            </li>
                                            <li>
                                                09123334455
                                            </li>
                                            <li>
                                                user@example.com
                                            </li>
                                            <li>
                                                تهران، میدان آزادی، خیابان آزادی، پلاک 7
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="header-invoice-left">
                                    <ul>
                                        <li>
                                            <span>
                                                <i class="icon-map-marker"></i>
                                            </span>
                                            فروشگاه بزرگ اینترنتی مولا ایران - تهران
                                        </li>
                                        <li>
                                            <span>
                                                <i class="icon-phone"></i>
                                            </span>
                                            02155667788 - 02144339944
                                        </li>
                                        <li>
                                            <span>
                                                <i class="icon-envelope"></i>
                                            </span>
                                            Support@example.Com
                                        </li>
                                        <li>
                                            <span>
                                                <i class="icon-chrome"></i>
                                            </span>
                                            www.example.com
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="header-contain">
                                    <div class="invoice-text">
                                        فاکتور
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row invoice-breadcrumb">
                            <div class="col-12">
                                <div class="invoice-contain">
                                    <ul>
                                        <li>
                                            <div>
                                                <h6>تاریخ فاکتور : </h6>
                                                <h5>20 فروردین 1401</h5>
                                            </div>
                                        </li>
                                        <li>
                                            <div>
                                                <h6>
                                                    تاریخ انقضا : </h4>
                                                    <h5>30 فروردین 1401</h5>
                                            </div>
                                        </li>
                                        <li>
                                            <div>
                                                <h6>شماره حساب : </h6>
                                                <h5>27550585744</h5>
                                            </div>
                                        </li>
                                        <li>
                                            <div>
                                                <h6>مبلغ نهایی : </h6>
                                                <h5>8,370,000 تومان</h5>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="table-responsive-md">
                            <table class="invoice-table ">
                                <thead>
                                    <tr>
                                        <th>شماره</th>
                                        <th>جزئیات آیتم</th>
                                        <th>تعداد</th>
                                        <th>قیمت</th>
                                        <th>مجموع</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>
                                            <h3>
                                                پیراهن زنانه
                                            </h3>
                                            <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم</p>
                                        </td>
                                        <td>5</td>
                                        <td>70,000 تومان</td>
                                        <td>350,000 تومان</td>
                                    </tr>
                                    <tr>
                                        <td>2</td>
                                        <td>
                                            <h3>
                                                گوشی هوشمند سامسونگ
                                            </h3>
                                            <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم</p>
                                        </td>
                                        <td>1</td>
                                        <td>4,150,000 تومان</td>
                                        <td>4,150,000 تومان</td>
                                    </tr>
                                    <tr>
                                        <td>4</td>
                                        <td>
                                            <h3>
                                                کیف زنانه مشکی
                                            </h3>
                                            <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم</p>
                                        </td>
                                        <td>3</td>
                                        <td>250,000 تومان</td>
                                        <td>750,000 تومان</td>
                                    </tr>
                                    <tr>
                                        <td>5</td>
                                        <td>
                                            <h3>
                                                صندلی اداری
                                            </h3>
                                            <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم</p>
                                        </td>
                                        <td>10</td>
                                        <td>300,000 تومان</td>
                                        <td>3,000,000 تومان</td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="invoice-total">
                                <div class="row">
                                    <div class="col-md-4 offset-8">
                                        <div class="total-right">
                                            <ul>
                                                <li>
                                                    جمع فاکتور
                                                    <span>8,250,000 تومان</span>
                                                </li>
                                                <li>
                                                    مالیات بر ارزش افزوده
                                                    <span>120,000 تومان</span>
                                                </li>
                                                <li>
                                                    مبلغ نهایی
                                                    <span>8,370,000 تومان</span>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>