/*@font-face {
    font-family: iransans-regular;
    src: url(../fonts/iransans-regular.woff);
}
*/
@font-face {
    font-family: "IRANSansWeb";
    src: url("../Assets/fonts/IRANSansWeb.eot"); /* IE */
    src: url("../Assets/fonts/IRANSansWeb.eot?#iefix") format("embedded-opentype"), /* IE */ url("../fonts/IRANSansWeb.woff") format("woff"), /* Modern Browsers */ url("../fonts/IRANSansWeb.ttf") format("truetype"); /* Safari, Android, iOS */
    font-weight: normal;
}

