<nav class="navbar profile-box-nav">
    <ul class="navbar-nav flex-column">
        <li class="nav-item ">
            <a href="/customer" class="nav-link">
                <i class="bi bi-house-door"></i>حساب کاربری
            </a>
        </li>
        <li class="nav-item">
            <a href="" class="nav-link">
                <i class="bi bi-cart-check"></i>سفارش های من <span class="badge rounded-pill badge-spn">5</span>
            </a>
        </li>
        <li class="nav-item">
            <a asp-area="customer" asp-controller="home" asp-action="profile" class="nav-link">
                <i class="bi bi-pin-map"></i>پروفایل
            </a>
        </li>
        <li class="nav-item">
            <a href="" class="nav-link">
                <i class="bi bi-gift"></i>کد های تخفیف من
            </a>
        </li>
        <li class="nav-item">
            <a href="/Account/Logout" class="nav-link">
                <i class="bi bi-arrow-right-square"></i>خروج از حساب کاربری
            </a>
        </li>
    </ul>
</nav>