
@{
    ViewData["Title"] = "_CutomerLoginLayout";
}



<!DOCTYPE html>
<html lang="en" dir="rtl">


<!-- Mirrored from filenter.ir/molla/index-3.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 16 Jun 2022 05:48:42 GMT -->
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>قالب Molla - قالب بوت استرپ فروشگاهی</title>
    <meta name="keywords" content="HTML5 Template">
    <meta name="description" content="Molla - Bootstrap eCommerce Template">
    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/images/icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/images/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/images/icons/favicon-16x16.png">
    <link rel="manifest" href="/assets/images/icons/site.webmanifest">
    <link rel="mask-icon" href="/assets/images/icons/safari-pinned-tab.html" color="#666666">
    <link rel="shortcut icon" href="/assets/images/icons/favicon.ico">
    <meta name="apple-mobile-web-app-title" content="Molla">
    <meta name="application-name" content="Molla">
    <meta name="msapplication-TileColor" content="#cc9966">
    <meta name="msapplication-config" content="/assets/images/icons/browserconfig.html">
    <meta name="theme-color" content="#ffffff">

    <link rel="stylesheet" href="/assets/css/normalize.css">
    <link rel="stylesheet" href="/assets/font/bootstrap-icon/bootstrap-icons.min.css">
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/js/plugin/swiper/swiper-bundle.min.css">
    <link rel="stylesheet" href="/assets/js/plugin/countdown/countdown.css">
    <link rel="stylesheet" href="/assets/js/plugin/rasta-contact/style.css">
    <link rel="stylesheet" href="/assets/js/plugin/bootstrap-touchspin/jquery.bootstrap-touchspin.min.css">
    <link rel="stylesheet" href="/assets/css/main.css">
    <link rel="stylesheet" href="/assets/css/responsive.css">
    <link href="~/admin/vendors/toaster/toastr.min.css" rel="stylesheet" />

    <meta name="theme-color" content="#f4f5f9">
</head>

<body style="background: url('/assets/img/bg-auth.jpg');background-repeat: no-repeat;background-size: cover">
   
        @RenderBody()



    <script src="/assets/js/vendor/modernizr-3.11.2.min.js"></script>
    <script src="/assets/js/vendor/jquery-3.7.1.min.js"></script>
    <script src="/assets/js/vendor/bootstrap.bundle-5.3.2.min.js"></script>
    <script src="/assets/js/plugin/swiper/swiper-bundle.min.js"></script>
    <script src="/assets/js/plugin/countdown/countdown.js"></script>
    <script src="/assets/js/plugin/vanilla-tilt/vanilla-tilt.min.js"></script>
    <script src="/assets/js/plugin/rasta-contact/script.js"></script>
    <script src="/assets/js/plugin/bootstrap-touchspin/jquery.bootstrap-touchspin.min.js"></script>
    <script src="/assets/js/plugin/otp-sms/otp-input.js"></script>
    <script src="/assets/js/plugins.js"></script>
    <script src="/assets/js/main.js"></script>
    <script src="~/admin/vendors/toaster/toastr.min.js"></script>
    @RenderSection("Scripts", required: false)
</body>


</html>