@model Project.Application.DTOs.User.RegisterCode
@{
    Layout = "_CutomerLoginLayout";
}
@section scripts {
    <script src="~/js/Verify.js"></script>
       

    <script>
        
        let time = @Model.ExpireSecondCode;
    </script>
}


<!-- start content -->

<div class="content vh-100">
    <div class="container-fluid h-100">
        <div class="auth h-100 d-flex align-items-center">
            <div class="container-fluid">
                <div class="auth-items">
                    <div class="row justify-content-center">
                        <div class="col-lg-4">

                            <div class="auth-logo text-center">
                                <a href="">
                                    <img src="/assets/img/logo.png" width="200" alt="">
                                </a>
                            </div>
                            <div class="auth-form shadow-xl rounded-3 bg-white">
                                <div class="auth-form-title mb-4 slider-title-desc-center">
                                    <h2 class="text-center h4 text-muted title-font">ورود / ثبت نام</h2>
                                </div>
                                <form role="form" asp-action="Verify" method="post">
                                    <div class="alert text-center alert-success">
                                        یک کد برای شما پیامک شد لطفا آن را وارد کنید
                                    </div>
                                    
                                    <div id="otp-input">
                                        <input placeholder="_" type="number" step="1" min="0" max="9" autocomplete="no" pattern="\d*" />
                                        <input placeholder="_" type="number" step="1" min="0" max="9" autocomplete="no" pattern="\d*" />
                                        <input placeholder="_" type="number" step="1" min="0" max="9" autocomplete="no" pattern="\d*" />
                                        <input placeholder="_" type="number" step="1" min="0" max="9" autocomplete="no" pattern="\d*" />
                                        <input placeholder="_" type="number" step="1" min="0" max="9" autocomplete="no" pattern="\d*" />
                                        <input id="otp-value" asp-for="Code" placeholder="_" type="hidden"  />
                                    </div>
                                    <input asp-for="PhoneNumber" hidden type="hidden">
                                    <div class="d-flex flex-row justify-content-center mt-5">
                                        <div id="js-timeout-div">
                                            <span class="js-timeout"></span> مانده تا دریافت مجدد کد
                                        </div>
                                    </div>


                                    <div class="form-group mt-3">
                                        <button type="submit" id="submit" class="btn btn-success w-100 mt-4 btn-login">
                                            وورد به
                                            سایت
                                        </button>
                                    </div>
                                </form>

                            </div>

                            <p class="loginTermsDesc">
                                با ورود و یا ثبت نام در شاهان شما <a class="underlined main-color-one-color fw-bold"
                                                                     href="/rules/">
                                    شرایط و
                                    قوانین
                                </a> استفاده از سرویس‌های سایت شاهان و <a class="underlined main-color-one-color fw-bold"
                                                                          href="/privacy-polices/">
                                    قوانین حریم
                                    خصوصی
                                </a> آن را می‌پذیرید.
                            </p>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>